Repository wpilibsuite/sysid, pull requests merged in 2022-01, with the labels that each got.

#290 Add PWF Venom Support for 2022
  README.md
  sysid-library/src/main/cpp/generation/SysIdSetup.cpp
  vendordeps/playingwithfusion2022.json
Labels: component: generation

#286 Improve trackwidth test calculations
  sysid-application/src/main/native/cpp/analysis/AnalysisManager.cpp
Labels: component: analysis

#242 Add ADIS IMUs
  README.md
  sysid-application/src/integrationtest-generation/native/cpp/GenerationTest.cpp
  sysid-application/src/main/native/cpp/generation/HardwareType.cpp
  sysid-application/src/main/native/cpp/view/Generator.cpp
  sysid-application/src/main/native/include/sysid/generation/HardwareType.h
  sysid-application/src/main/native/include/sysid/view/Generator.h
  sysid-library/build.gradle
  sysid-library/src/main/cpp/generation/SysIdSetup.cpp
  sysid-library/src/main/include/sysid/generation/SysIdSetup.h
  sysid-projects/drive/src/main/cpp/Robot.cpp
  sysid-projects/drive/src/main/include/Robot.h
Labels: component: generation

#289 Add Romi to drivetrain project
  sysid-application/src/integrationtest-generation/native/cpp/GenerationTest.cpp
  sysid-library/src/main/cpp/generation/SysIdSetup.cpp
  sysid-projects/drive/src/main/cpp/Robot.cpp
  vendordeps/RomiVendordep.json
Labels: component: generation

#297 Add gearing to CTRE data collection
  sysid-library/src/main/cpp/generation/SysIdSetup.cpp
Labels: component: generation

#311 Update CTRE, REV, and NavX vendordeps
  vendordeps/Phoenix.json
  vendordeps/REVLib.json
  vendordeps/navx_frc.json
Labels: component: generation

#315 Make the tooltip use a gear ratio to prevent confusion
  sysid-application/src/main/native/cpp/view/Generator.cpp
Labels: component: generation

#283 Fix Doxygen HTML being empty
  build.gradle
  sysid-application/src/main/native/cpp/analysis/FilteringUtils.cpp
  sysid-application/src/main/native/include/sysid/Util.h
  sysid-application/src/main/native/include/sysid/analysis/FeedbackAnalysis.h
  sysid-library/src/main/include/sysid/generation/SysIdSetup.h
  theme.css
Labels: documentation

#316 Fix bugs in generation UI's gyro parameter
  sysid-application/src/integrationtest-generation/native/cpp/GenerationTest.cpp
  sysid-application/src/main/native/cpp/view/Generator.cpp
  sysid-application/src/main/native/include/sysid/generation/HardwareType.h
  sysid-application/src/main/native/include/sysid/view/Generator.h
  sysid-library/src/main/cpp/generation/SysIdSetup.cpp
Labels: component: generation
